<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org"
 		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 	layout:decorator="template/page">
 	<div layout:fragment="content">
		<div class="container-wrapper" style="padding-top: 5rem;">
			<div class="container">
				<div class="page-header">
					<h1>Customer edition</h1>
					<p class="lead">Edit customer data</p>
				</div>
				<form method="post" 
					th:action="@{'/admin/customers/edit?'+${_csrf.parameterName}+'='+${_csrf.token}}" 
					th:object="${customer}">
					
					<input type="hidden" th:field="*{id}" />
					<h3>Basic info</h3>
					<div class="form-group mb-3">
						<label for="name" class="form-label fw-bold">Name</label>
						<span th:each="error : ${#fields.errors('name')}" th:text="${error}" th:classappend="${#fields.hasErrors('name')} ? 'error'"></span>
						<input type="text" th:field="*{name}" id="name" class="form-control" />
					</div>
					<div class="form-group mb-3">
						<label for="email" class="form-label fw-bold">Email</label>
						<span th:each="error : ${#fields.errors('email')}" th:text="${error}" th:classappend="${#fields.hasErrors('email')} ? 'error'"></span>
						<input type="text" th:field="*{email}" id="email" class="form-control" />
					</div>
					<div class="form-group mb-3">
						<label for="phone" class="form-label fw-bold">Phone</label>
						<span th:each="error : ${#fields.errors('phone')}" th:text="${error}" th:classappend="${#fields.hasErrors('phone')} ? 'error'"></span>
						<input type="text" th:field="*{phone}" id="phone" class="form-control" />
					</div>
					<input type="hidden" th:field="*{username}" />
					<input type="hidden" th:field="*{password}" />
					<input type="hidden" th:field="*{enabled}" />
					<h3>Billing Address</h3>
					<input type="hidden" th:field="*{billingAddress.id}" />
					<div class="form-group mb-3">
						<label for="billingStreet" class="form-label fw-bold">Street</label>
						<span th:each="error : ${#fields.errors('billingAddress.streetName')}" th:text="${error}" th:classappend="${#fields.hasErrors('billingAddress.streetName')} ? 'error'"></span>
						<input type="text" th:field="*{billingAddress.streetName}" id="billingStreet" class="form-control" />
					</div>
					<div class="form-group mb-3">
						<label for="billingApartmentNumber" class="form-label fw-bold">Apartment Number</label>
						<span th:each="error : ${#fields.errors('billingAddress.apartmentNumber')}" th:text="${error}" th:classappend="${#fields.hasErrors('billingAddress.apartmentNumber')} ? 'error'"></span>
						<input type="text" th:field="*{billingAddress.apartmentNumber}" id="billingApartmentNumber" class="form-control" />
					</div>
					<div class="form-group mb-3">
						<label for="billingCity" class="form-label fw-bold">City</label>
						<span th:each="error : ${#fields.errors('billingAddress.city')}" th:text="${error}" th:classappend="${#fields.hasErrors('billingAddress.city')} ? 'error'"></span>
						<input type="text" th:field="*{billingAddress.city}" id="billingCity" class="form-control" />
					</div>
					<div class="form-group mb-3">
						<label for="billingState" class="form-label fw-bold">State</label>
						<span th:each="error : ${#fields.errors('billingAddress.state')}" th:text="${error}" th:classappend="${#fields.hasErrors('billingAddress.state')} ? 'error'"></span>
						<input type="text" th:field="*{billingAddress.state}" id="billingState" class="form-control" />
					</div>
					<div class="form-group mb-3">
						<label for="billingCountry" class="form-label fw-bold">Country</label>
						<span th:each="error : ${#fields.errors('billingAddress.country')}" th:text="${error}" th:classappend="${#fields.hasErrors('billingAddress.country')} ? 'error'"></span>
						<input type="text" th:field="*{billingAddress.country}" id="billingCountry" class="form-control" />
					</div>
					<div class="form-group mb-3">
						<label for="billingZipCode" class="form-label fw-bold">Zip Code</label>
						<span th:each="error : ${#fields.errors('billingAddress.zipCode')}" th:text="${error}" th:classappend="${#fields.hasErrors('billingAddress.zipCode')} ? 'error'"></span>
						<input type="text" th:field="*{billingAddress.zipCode}" id="billingZipCode" class="form-control" />
					</div>
					<h3>Shipping Address</h3>
					<input type="hidden" th:field="*{shippingAddress.id}" />
					<div class="form-group mb-3">
						<label for="shippingStreet" class="form-label fw-bold">Street</label>
						<span th:each="error : ${#fields.errors('shippingAddress.streetName')}" th:text="${error}" th:classappend="${#fields.hasErrors('shippingAddress.streetName')} ? 'error'"></span>
						<input type="text" th:field="*{shippingAddress.streetName}" id="shippingStreet" class="form-control" />
					</div>
					<div class="form-group mb-3">
						<label for="shippingApartmentNumber" class="form-label fw-bold">Apartment Number</label>
						<span th:each="error : ${#fields.errors('shippingAddress.apartmentNumber')}" th:text="${error}" th:classappend="${#fields.hasErrors('shippingAddress.apartmentNumber')} ? 'error'"></span>
						<input type="text" th:field="*{shippingAddress.apartmentNumber}" id="shippingApartmentNumber" class="form-control" />
					</div>
					<div class="form-group mb-3">
						<label for="shippingCity" class="form-label fw-bold">City</label>
						<span th:each="error : ${#fields.errors('shippingAddress.city')}" th:text="${error}" th:classappend="${#fields.hasErrors('shippingAddress.city')} ? 'error'"></span>
						<input type="text" th:field="*{shippingAddress.city}" id="shippingCity" class="form-control" />
					</div>
					<div class="form-group mb-3">
						<label for="shippingState" class="form-label fw-bold">State</label>
						<span th:each="error : ${#fields.errors('shippingAddress.state')}" th:text="${error}" th:classappend="${#fields.hasErrors('shippingAddress.state')} ? 'error'"></span>
						<input type="text" th:field="*{shippingAddress.state}" id="shippingState" class="form-control" />
					</div>
					<div class="form-group mb-3">
						<label for="shippingCountry" class="form-label fw-bold">Country</label>
						<span th:each="error : ${#fields.errors('shippingAddress.country')}" th:text="${error}" th:classappend="${#fields.hasErrors('shippingAddress.country')} ? 'error'"></span>
						<input type="text" th:field="*{shippingAddress.country}" id="shippingCountry" class="form-control" />
					</div>
					<div class="form-group mb-3">
						<label for="shippingZipCode" class="form-label fw-bold">Zip Code</label>
						<span th:each="error : ${#fields.errors('shippingAddress.zipCode')}" th:text="${error}" th:classappend="${#fields.hasErrors('shippingAddress.zipCode')} ? 'error'"></span>
						<input type="text" th:field="*{shippingAddress.zipCode}" id="shippingZipCode" class="form-control" />
					</div>
					<input type="submit" value="Submit" class="btn btn-success" />
					<a th:href="@{/admin/customers}" class="btn btn-danger">Cancel</a>	
				</form>
			</div>
		</div>
 	</div>
</html>